# Backend
backend/target/
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
